body {
    margin: 0;
    padding: 0;
    background: lightgray;
    font-family: 'Inter', sans-serif;
    font-size: 62.5%;
}

/* Header */

header {
    font-size: 1.5rem;
    margin: 2rem auto;
    text-align: center;
}

/* Game */

.game-group {
    display: flex;
    justify-content: center;
}

#canvas {
    background: #000;
    display: block;
    margin: 0;
    width: 100%;
    max-width: 800px;
}

#gameText {
    font-size: 3rem;
    font-weight: bold;
    position: absolute;
    align-self: center;
    text-align: center;
    color: #fff;
    display: none;
}

/* Game controls */

.game-controls {
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
}

.point-block {
    background: #000;
    color: #fff;
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    font-size: 2rem;
}

/* Buttons */

#start {
    width: 100px;
    aspect-ratio: 1;
    outline: none;
    border: 1px solid #000;
    font-size: 3rem;
    background: #fff;
    position: absolute;
    align-self: center;
}

#start i {
    color: #000;
}

